body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to right,
        #0d0932,
        #252556,
        #3f417d,
        #5960a7,
        #7480d3
    );
}

.form-box {
    width: 50%;
    height: 100%;
    background: white;
    box-shadow: blue;
    position: relative;
    margin: 5% auto;
    padding: 3%;
}
.form-role {
    padding-top: 2%;
}
.button-box {
    width: 50%;
    height: 100%;
    margin: 4% auto;
    position: relative;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 0 0 20px 9px #ff612415;
}
.reglogin {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: none;
    padding: 10px 30px;
}
.reglogin:focus {
    box-shadow: none;
    color: white;
}
#btn {
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
}
#btn1 {
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
}
form {
    margin: 10% 0;
}
.form-group {
    margin: 4% 2%;
}
.form-group input:focus {
    border-color: #0b2c6e;
}
.form-control {
    border-radius: 30px;
    margin: 2% 0;
    outline: none;
}
.form-control:focus {
    box-shadow: none;
    border-color: 1px solid black;
}
.submit {
    width: 80%;
    padding: 3% 1%;
    margin: 8% 0;
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    background-image: linear-gradient(to right, #ff105f, #ffad06);
}
.alert {
    margin-right: 10%;
    height: 60%;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-nav {
    margin-left: auto;
    color: black;
}
.nav-link {
    color: white;
}
.nav-link .active a {
    color: blue;
}
nav {
    background-color: black;
}
.home-section {
    padding: 10%;
    background-image: linear-gradient(
        to right,
        #051937,
        #0f485e,
        #44787b,
        #87a898,
        #d0d8bf
    );
}
.find-sec {
    text-align: center;
}
.find-input {
    width: 50%;
}
.home-section input {
    outline: none;
}
.insert-section {
    background-color: cadetblue;
    padding: 8%;
}
.nav .nav-link {
    color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: red;
    background-color: transparent;
}

.home-section a {
    color: white;
}
.home-section a:hover {
    color: blue;
}
.form-upload {
    border-radius: 0;
    margin: 0 auto;
    width: 50%;
    display: inline;
}
.find-secsub {
    padding: 0.5% 1%;
}
.producerflow {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: green;
}
.producerflow .fa-home {
    font-size: 60px;
    padding: 0 auto;
}
.producerflow p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow {
    height: 100px;
    width: 5px;
    background-color: black;
    z-index: 0;
}
.producerflow .fa-home {
    font-size: 60px;
    padding: 0 auto;
}
.producerflow .fa-truck {
    font-size: 50px;
    padding: 0 auto;
    margin-top: 20px;
}
.producerflow .fa-user-check {
    font-size: 50px;
    padding: 0 auto;
    margin-top: 20px;
}

.create {
    width: 40%;
    border-radius: 30px;
    padding: 1% 0;
    background-image: linear-gradient(
        to right,
        #594898,
        #b9538d,
        #ed7974,
        #f7b36a,
        #e3f08d
    );
    outline: none;
    border-color: none;
}
.location-btn {
    background-color: lightslategray;
    text-align: center;
}
.location-btn:hover {
    background-color: maroon;
    color: white;
}
.change-section {
    background-image: linear-gradient(
        to right,
        #510a45,
        #522b67,
        #494787,
        #3561a1,
        #0d7bb5
    );
    padding: 6%;
}
.change-hr {
    color: black;

    width: 50%;
    margin: auto;
}
hr:not([size]) {
    height: 8px;
}
.change-box {
    width: 80%;
    height: 100%;
    padding: 4%;
    margin: auto;
}
.qr-box {
    width: 70%;
    padding: 10% 0;
    background-color: white;
    margin: 6% auto;
}
.qr-code {
    margin: auto;
    text-align: center;
}
.change {
    background-image: linear-gradient(
        to right,
        #1e1241,
        #5e144d,
        #941f45,
        #b8452f,
        #c27804
    );
    width: 60%;
    border-radius: 30px;
    padding: 1%;
}
.change:hover {
    background-image: linear-gradient(
        to right,
        #0b0b21,
        #1f1b3d,
        #3b2658,
        #5d2e70,
        #853485
    );
}
.timeline {
    margin: auto;
    text-align: center;
}

.timeline-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    border: 5px solid orange;
    z-index: 5;
}
.timeline-box1 {
    width: 200%;
    height: 100%;
    background-color: transparent;
    border: 1px solid black;
}
@media only screen and (max-width: 1050px) {
    .form-box {
        width: 80%;
    }
    .role {
        display: block;
    }
    .home-section {
        padding-top: 40%;
    }
}
@media only screen and (max-width: 1035px) {
    #btn1 {
        top: 50%;
        left: 0;
        height: 50%;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(to right, #ff105f, #ffad06);
        border-radius: 30px;
    }
    #btn {
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(to right, #ff105f, #ffad06);
        border-radius: 30px;
    }
}
