<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css\bootstrap.min.css">
        <link rel="stylesheet" href="css\all.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css\style.css">
        <title>Login for COVID-19 Vaccine Supply Chain</title>

    </head>
    <body>
       <div class="wow slideInLeft">
      <h2 class="pt-5 text-white text-center">Welcome To Vaccine Supply Chain</h2>
      </div>
        <div class="logform">
        <div class="form-box ">
            <div class="button-box text-center">
                <div id="btn"></div>
        <button id="register" class="reglogin btn text-center text-white" type="button" >Login</button>
        <button id="login" class="reglogin btn text-center" type="button" onclick="register()">Register</button>
        
        </div>
         
            
          <form action="/login" method="POST">
            <div  class="form-role">
               
               {{#if errors}}
           <section class="errors">
             <ul>
               {{#each errors}}
               <li style="list-style:none"><div class="alert alert-danger alert-dismissible">
               {{this.msg}}
             </div></li>
               {{/each}}
             </ul>
             </section>
              {{/if}}
            <div class="form-group ">
           <input type="text" name="email" class="form-control form-1" id="email" aria-describedby="emailHelp" pattern="[^ @]*@[^ @]*" title="Please give valid email address" placeholder="Email" required>
             
            </div>
             
            <div class="form-group form-1">
              <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <label class="mx-2 fw-bold">Your role:</label>
              
            <div class="form-check form-check-inline role">
                <input class="form-check-input" name="role" type="radio" id="role1" value="Producer" checked>
                <label class="form-check-label" for="role1">Producer</label>
              </div>
              <div class="form-check form-check-inline role">
                <input class="form-check-input" name="role" type="radio"  id="role2" value="Distributor">
                <label class="form-check-label" for="role2">Distributor</label>
              </div>
              <div class="form-check form-check-inline role">
                <input class="form-check-input" name="role" type="radio"  id="role3" value="Customer" >
                <label class="form-check-label" for="role3">Customer</label>
              </div>
            </div>
              
        </div>
          
            
            
            <div class="form-group text-center">
            <button type="submit" class="btn btn-primary submit">Login</button>
            </div>
          </form>
    </div>
    </div>
       
        <script src="js\bootstrap.min.js" ></script>
         <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
        <script src="js\all.min.js" ></script>
        
        <script>
            //x=document.getElementById("register");
            //y=document.getElementById("login")
            z=document.getElementById("btn")
            
                 
                 
                 function register(){
                    z.style.left="50%";
                    window.location.href="register";
            

            }
        </script>
    </body>
</html>