<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css\bootstrap.min.css">
        <link rel="stylesheet" href="css\all.min.css">
        <link rel="stylesheet" href="css\style.css">
        <link rel="stylesheet" href="css\jtimeline.css">

        <title>Medicine supply chain</title>

    </head>
    <body>
        <div id="jtimeline-demo" class="jtimeline">
            <ul class="jtimeline-events">
              <li class="jtimeline-event" data-timestamp="1591416000">
                June 6th 2020<br />
                Birthday
              </li>
              <li class="jtimeline-event" data-timestamp="1609477200">
                January 1st 2021<br />
                New Year
              </li>
              <li class="jtimeline-event is-active" data-timestamp="1610514000">
                January 13th 2021<br />
                Launch of jTimeline
              </li>
              <li class="jtimeline-event" data-timestamp="1613278800">
                February 14th 2021<br />
                Valentine's Day
              </li>
            </ul>
          </div>
          <script src="js/jquery.min.js"></script>
          <script src="js/jtimeline.js"></script>
          <script>
              $(function(){
  $('#jtimeline-demo').jTimeline();
});
$('#jtimeline-demo').jTimeline({

// pixels per second
resolution: 50000, 

// minimum spacing between events
minimumSpacing: 200, 

// scrolling (translateX) step size
step: 200, 

// character for left arrow
leftArrow: "&larr;", 

// character for right arrow
rightArrow: "&rarr;", 

});
          </script>

    </body>
</html>